html {
  background-image: url("https://telegra.ph/file/1da02fe3d59ec2db4b164.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
}

div.App___StyledDiv-sc-2l91w7-0.fnfeQw {
  background-image: url("https://telegra.ph/file/1da02fe3d59ec2db4b164.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
}
